/* Style untuk header */
header {
  background-color: #f8f9fa;
  padding: 20px;
}

.title {
  margin-top: 0;
}

/* Style untuk navigasi */
/* Style untuk navigasi */
nav {
  background-color: #0984e3;
}

.navbar navbar-expand-lg navbar-dark bg-dark{
  background-color: blue;
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
}

/* Style untuk section kontak */
#kontak {
  background-color: #0984e3;
  padding: 50px 0;
}

#kontak h2 {
  color: #fff;
  text-align: center;
}

#kontak p {
  color: #fff;
  text-align: center;
}

/* Style untuk footer */
footer {
  background-color: #0984e3;
  padding: 20px 0;
}
